body {
    background-color: #333232;
}

#container {
    background-color: #0E2431;
    border: 5px solid #F5E4C3;
    height: 275px;
    width: 750px;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}

p {
    color: white;
}

#input {
    width: 100px;
    margin: 25px auto;
}

#btn {
    margin: 25px auto auto 5px;
}